.videoblock {
  padding: 128px 0;
}
.videoblock__information {
  display: flex;
  gap: 24px;
  height: 708px;
}
.videoblock__video {
  width: 100%;
}
.videoblock__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.videoblock__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #BC625C;
  margin-bottom: 8px;
}
.videoblock__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #1D1D1B;
  margin-bottom: 16px;
}
.videoblock__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1D1D1B;
  margin-bottom: 56px;
}
@media (max-width: 950px) {
  .videoblock__information {
    flex-direction: column-reverse;
    gap: 0;
    height: 100%;
  }
  .videoblock__video video {
    width: 565px;
    margin-bottom: 19px;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .videoblock {
    padding: 40px 0;
  }
  .videoblock__video video {
    width: 100%;
    margin: 0 0 16px;
  }
  .videoblock__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
  }
}
@media (max-width: 376px) {

  .videoblock__information {
    flex-direction: column-reverse;
    gap: 0;
    height: 100%;
  }
  .videoblock__title {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .videoblock__text {
    font-size: 14px;
    line-height: 18px;
  }
}

