.feedback {
  padding: 128px 0;
}
.feedback__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #BC625C;
  margin-bottom: 8px;
}
.feedback__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #F3F4F6;
  margin-bottom: 48px;
}
.feedback__item {
  padding: 64px 62px 56px;
  border: 1px solid #4B5563;
  border-radius: 16px;
  /* margin: 0 6px; */
  box-sizing: border-box;
}
.feedback__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #F3F4F6;
  margin-bottom: 32px;
}
.feedback__course {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #BC625C;
}
.feedback__author {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F3F4F6;
}
.feedback__button {
  margin: 0 auto;
  display: block;
  margin-top: 104px;
}
div.slick-slide.slick-active.slick-current > .feedback__item {
  margin-right: 12px;
}

div.slick-slide.slick-active:nth-child(2) > .feedback__item {
  margin-left: 12px;
}
@media (max-width: 970px) {
  .feedback__item {
    padding: 24px 16px 35px;
  }
}
@media (max-width: 768px) {
  div.slick-slide.slick-active.slick-current > .feedback__item {
    margin-right: 0;
  }
  div.slick-slide.slick-active:nth-child(2) > .feedback__item {
    margin-left: 0;
  }
}
@media (max-width: 633px) {
  .feedback__button {
    display: none;
  }
  .button-mobile_feedback {
    margin-top: 100px;
  }
}  
@media (max-width: 600px) {
  .button-mobile_feedback {
    margin-top: 53px;
  }
} 
@media (max-width: 376px) {
  .feedback {
    padding: 40px 0;
  }
  .feedback__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .feedback__item {
    padding: 24px 16px 35px;
  }
  .feedback__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 56px;
  }
  .feedback__author {
    font-size: 18px;
    line-height: 22px;
  }
}