.root {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;

}
.white-theme {
  background-color: #FFFFFF;
  border: 2px solid blue;
}
.container {
  max-width: 1224px;
  margin: 0 auto;
  border: 1px dotted blue;
}
.headlines {
  font-family: "FuturaFuturis", Arial, sans-serif;
}
.description {
  font-family: "Gotham", Arial, sans-serif;
}
.dark-theme {
  background-color: #1F262D;
  border: 2px solid red;
}