.button {
  width: 600px;
  height: 56px;
  background: #FAD1CE;
  border-radius: 56px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #1D1D1B;
  border: none;
  cursor: pointer;
}

.button-content {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button-content__text {
  display: flex;
  margin: 0;
  align-items: center;
  padding-bottom: 2px;
}

.button_small {
  width: 288px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.button_submit {
  width: 275px;
  background: #1D1D1B;
  border-radius: 40px;
  color: #FFFFFF; 
  margin-top: 55px;
}